!!!
%html
	%head
		%title PubNub Monitor

		%link{:href => "/favicon.ico", :rel => "icon", :type => "image/x-icon"}

		%link{:rel => "stylesheet", :href => "/css/normalize.css", :type => "text/css", :media => "all"}
		%link{:rel => "stylesheet", :href => "/styles.css", :type => "text/css", :media => "all"}

		%script{:type => "text/javascript", :src => "/js/jquery-1.8.0.js"}

	%body
		= yield

		%footer
			.content-wrap
				%p
					%a{:href => "http://github.com/sh1ps/pubnub-monitor"} PubNub Monitor