// Variables
$blue: #00adef;
$dark-gray: #333;
// These variables are mostly for syntax highlighting
$purple: #bf00ef;
$red: #ef0017;
$orange: #ef8d00;
$green: #21d303;

// Mixins and some utilities (like clearfix)
// Rounded Corners
@mixin corners($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}
// Use clearfix with "@extend .clearfix;"
.clearfix {
  zoom:1;
  &:before, &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after {
    clear: both;
  }
}

body {
	background-color: #fff;
	margin-top: 0;
}

header {
	background-color: $dark-gray;
	color: #fff;
	.content {
		h1 { margin: 0; float: left; }
		.send-test {
			margin-top: 6px;
			@include corners(5px);
			cursor: pointer;
			background-color: $blue;
			border: #fff;
			color: #fff;
		}
		@extend .clearfix;
	}
}

.right { float: right; }

.content-wrap {
	margin: 0 50px 20px 50px;
}

#pn-messages {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	li {
		pre {
			outline: 1px solid #ccc; padding: 5px; margin: 5px;
			background-color: #e7e7e7;
			.string { color: $blue; }
			.number { color: $orange; }
			.boolean { color: $green; }
			.null { color: $red; }
			.key { color: $purple; }
		}
	}
}